bin
*.json
*.bmp
*.exe
*.vspx
vb/obj
*.obj
.vs
*.png
vb/VBRayTracer.vbproj.user
*.suo
obj
*.pdb
**/Debug/*
**/Release/*
.vscode/*
**/Release*
delphi/DelphiRayTracer.dproj.local
delphi/DelphiRayTracer.identcache
c++/RayTracer/RayTracer.sdf
/zig/zig-cache
/zig/RayTracer.lib
*.mod
node_modules
*.png
*.bmp
__history/
*.dcu
/crystal/lib
